// colors
$red-default: #FF1940;
$red-hover: #810D20;

$white-default: #FFFFFF;

$gray-darker: #2d2d2d;
$gray-dark: #414141;
$gray-mid-dark: #8b8b8b;
$gray-default: #d1d1d1;
$gray-light: #d3d3d3;

$blue-default: #0277bd;

$border-default: solid 1px $gray-default;

// font size
$font-size-base: 13px;
$font-size-large: 18px;

// app constants
$side-bar-width: 320px;