<div class="login-action-area">
    {{#if hasMissingUserNameError}}
        <div class="error-area">
            <span class="error-message">{{t "login.missingUserName"}}</span>
        </div>
    {{/if}}
    {{input
        class=(if hasMissingUserNameError "username error" "username")
        placeholder=(t "login.inputPlaceholder")
        value=(mut userName)
        action="joinChat"}}
    {{ui-button
        class="button-primary login-button"
        label=(t "login.joinButton")
        onClick=(action "joinChat")}}
</div>